pipeline/PL_CSV_TO_DATABASE.json
{
	"name": "PL_CSV_TO_DATABASE",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Data to SQL Staging tables_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.folders",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data to SQL Staging tables",
							"description": "Copies team data from JSON to SQL staging area",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"modifiedDatetimeStart": "2022-08-27T00:00:00.945Z",
										"wildcardFolderPath": {
											"value": "@item()",
											"type": "Expression"
										},
										"wildcardFileName": "test_standings.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "copyright",
												"type": "String"
											},
											"sink": {
												"name": "copyright",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_abbreviation",
												"type": "String"
											},
											"sink": {
												"name": "teams_abbreviation",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_active",
												"type": "String"
											},
											"sink": {
												"name": "teams_active",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_firstYearOfPlay",
												"type": "String"
											},
											"sink": {
												"name": "teams_firstYearOfPlay",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_franchiseId",
												"type": "String"
											},
											"sink": {
												"name": "teams_franchiseId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_id",
												"type": "String"
											},
											"sink": {
												"name": "teams_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_link",
												"type": "String"
											},
											"sink": {
												"name": "teams_link",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_locationName",
												"type": "String"
											},
											"sink": {
												"name": "teams_locationName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_name",
												"type": "String"
											},
											"sink": {
												"name": "teams_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_officialSiteUrl",
												"type": "String"
											},
											"sink": {
												"name": "teams_officialSiteUrl",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_shortName",
												"type": "String"
											},
											"sink": {
												"name": "teams_shortName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_teamName",
												"type": "String"
											},
											"sink": {
												"name": "teams_teamName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_conference_id",
												"type": "String"
											},
											"sink": {
												"name": "teams_conference_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_conference_link",
												"type": "String"
											},
											"sink": {
												"name": "teams_conference_link",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_conference_name",
												"type": "String"
											},
											"sink": {
												"name": "teams_conference_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_division_abbreviation",
												"type": "String"
											},
											"sink": {
												"name": "teams_division_abbreviation",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_division_id",
												"type": "String"
											},
											"sink": {
												"name": "teams_division_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_division_link",
												"type": "String"
											},
											"sink": {
												"name": "teams_division_link",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_division_name",
												"type": "String"
											},
											"sink": {
												"name": "teams_division_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_division_nameShort",
												"type": "String"
											},
											"sink": {
												"name": "teams_division_nameShort",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_franchise_franchiseId",
												"type": "String"
											},
											"sink": {
												"name": "teams_franchise_franchiseId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_franchise_link",
												"type": "String"
											},
											"sink": {
												"name": "teams_franchise_link",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_franchise_teamName",
												"type": "String"
											},
											"sink": {
												"name": "teams_franchise_teamName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_city",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_city",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_id",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_link",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_link",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_name",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_timeZone_id",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_timeZone_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_timeZone_offset",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_timeZone_offset",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "teams_venue_timeZone_tz",
												"type": "String"
											},
											"sink": {
												"name": "teams_venue_timeZone_tz",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Generic_Csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "GENERIC_SQL_DS",
									"type": "DatasetReference",
									"parameters": {
										"schema": "stage",
										"table": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Data to SQL Staging tables_copy1",
				"description": "Copies team data from JSON to SQL staging area",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": "2022-08-27T00:00:00.945Z",
							"wildcardFolderPath": "standings",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "Generic_Csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "GENERIC_SQL_DS",
						"type": "DatasetReference",
						"parameters": {
							"schema": "stage",
							"table": "teams"
						}
					}
				]
			}
		],
		"parameters": {
			"folders": {
				"type": "array",
				"defaultValue": [
					"standings"
				]
			}
		},
		"annotations": []
	}
}